/ header
%header{role: "banner"}
  %hgroup
    %h1= @heading
    %h2= @subtitle
    %h3= @memo
%nav#nav-top
  %ul
    %li
      %a{href: "/"}Home
    %li
      %a{href: "/writings"}Writings
    %li
      %a{href: "/about"}About