/ footer
%footer.branding
  %p
    copyright © 2011- puttiz
  %nav#nav-bottom
    %ul
      %li
        %a{href: "/"}Home
        |
      %li
        %a{href: "/writings"}Writings
        |
      %li
        %a{href: "/about"}About