Template: page
Title: Writings
Class: writings-list

/ writings
%header.top
  %hgroup
    %h1 Explore the Writings
    %h2
      %i Everything
      I've ever written.
  %section#filters
    %a{href: "/writings", class: "selected"}
      %h1 The Whole Shebang
      %h2 Sess the complete collection of writings
    %a{href: "/journal"}
      %h1 From the Journal
      %h2 See only those from the journal
    %a{href: "/elsewhere"}
      %h1 Elsewhere
      %h2 See my writings published elsewhere
