.bar-dark {
  @include background-img($black, $darkBackgroundPath);
}

.bar-light {
  @include background-img($white, $lightBackgroundPath);
}

.logo {
  background: url($logoImgPath) 0 0 no-repeat;

  &:hover {
    border: 0;
    background: url($logoImgPath) 0 -102px no-repeat;
  }
}

.mastnav {
  a {
    @include nav-link-font($black);

    &:hover, &:focus {
      padding-bottom: 2px;
      border-bottom: 3px solid $blue;
    }
  }

  .active > a {
    padding-bottom: 2px;
    border-bottom: 3px solid $orange;
  }
}

