.feature {
  .slide {
//    width: 940px;
    width: 900px;
    height: 400px;
    position: relative;
    padding: 7px;
    background: rgba($white,0.3) url($bimg-light) repeat 0 0;
    border: 1px solid lighten($black, 65%);
    @include box-shadow(1px 1px 15px rgba($black, .3));

    .arrow {
      position: absolute;
      top: 50%;
      left: -30px;
      width: 30px;
      height: 40px;
      margin-top: -20px;
      font-size: 60px;
      font-weight: 100;
      line-height: 30px;
      color: lighten($black, 20%);
      text-align: center;

      &:hover {
        color: lighten($black, 40%);
        text-decoration: none;
      }
      &.next {
        left: auto;
        right: -30px;
      }
    }

    .item {
      .dark {
        @include slide-span-style($grey, $black, $bimg-dark);
        a {
          @include slide-span-link($grey, $orange);
        }
      }

      .light {
        @include slide-span-style($black, $white, $bimg-light);
        a {
          @include slide-span-link($black, $blue);
        }
      }

      ol {
        margin: 0 0 8px 0;
        padding: 0 0 0 25px;
        list-style-type: decimal;
        > li {
          margin: 5px 8px 2px 5px;
          padding: 0;
        }
      }

      ul {
        margin: 0 0 0 2px;
        padding: 0;
        list-style-type: none;
        > li {
          margin: 0;
          padding: 2px 2px 5px 2px;
        }
      }

      .lb {
        position: absolute;
        left: 20px;
        bottom: 20px;
      }
      .lt {
        position: absolute;
        left: 20px;
        top: 20px;
      }
      .rb {
        position: absolute;
        right: 20px;
        bottom: 20px;
      }
      .rt {
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }
  }
}
