Layout: work
Template: self
Title: Glimmer @ Taobao
Class: glimmer
/ Date: Jan 2012


/
  Glimmer for taobao start
  ============================================================================
.hd
  = partial "_zine/glimmer/header"
.bg
  / body
  .feature.sixteen.columns.clearfix
    .slide.section
      .slidenav
        %a.prev(href="#") <
        %a.next(href="#") >
      .slideshow
        .slideitem
          %span.dark.lb
            %ol.span-ol
              %li.span-ol-li
                %a.span-link(href="#") link 1
              %li.span-ol-li
                %a.span-link(href="#") link 2 long long long long
          %span.light.rt
            %ul.span-ul
              %li.span-ul-li
                %a.span-link(href="#") link 3
              %li.span-ul-li
                %a.span-link(href="#") link 4 long long long long
          %img(src="/assets/glimmer/assets/images/slideshow.jpg")
  .sub.section
    .row
      .one-third.column
        .panel
          %span one
      .one-third.column
        .panel
          %span two
      .one-third.column
        .panel
          %span three
  / body end
.ft
  = partial "_zine/glimmer/footer"
/
  Glimmer for taobao end
  ============================================================================