Layout: work
Template: self
Title: Glimmer @ Taobao
Class: glimmer
/ Date: Jan 2012

/ Glimmer for taobao start
.hd
  / header
  header
.bg
  / body
  body
.ft
  / footer
  footer
/ Glimmer for taobao end