Layout: work
Template: self
Title: Glimmer @ Taobao
Class: glimmer
/ Date: Jan 2012

%script{:src => "http://a.tbcdn.cn/??s/kissy/1.1.6/seed-min.js,p/global/1.0/global-min.js,p/shop/1.0/shop-min.js?t=2011042120110214.js"}
%script{:src => "/assets/glimmer/assets/kissy.js"}

/ Glimmer for taobao start
.hd
  / header
  .topbar.sixteen.columns
  .header.sixteen.columns.clearfix
    .nav
      %ul.nav-ul
        %li.nav-li
          %a.nav-link.active(href="./glimmer" title="Home") Home
        %li.nav-li
          %a.logo(href="./glimmer/list" title="Shop")
        %li.nav-li
          %a.nav-link(href="./glimmer/news" title="Blog") home
        %li.nav-li
          %a.nav-link(href="./glimmer/news" title="Blog") Blog
        %li.nav-li
          %a.nav-link(href="./glimmer/news" title="Blog") Blog
  / header end
.bg
  / body
  .feature.sixteen.columns
    .slide.section
      .slidenav
        %a.prev(href="#") <
        %a.next(href="#") >
      %ul.slideshow
        %li one
        %li two
        %li tree

.ft
  / footer
  .bottombar.sixteen.columns
/ Glimmer for taobao end