Layout: work
Template: self
Title: Glimmer @ Taobao
Class: glimmer
/ Date: Jan 2012

/ Glimmer for taobao start
.hd
  / header
  .topbar.sixteen.columns
  .header.sixteen.columns.clearfix
    .nav
      %ul.nav-ul
        %li.nav-li
          %a.nav-link.active(href="./glimmer" title="Home") Home
        %li.nav-li
          %a.logo(href="./glimmer/list" title="Shop")
        %li.nav-li
          %a.nav-link(href="./glimmer/news" title="Blog") home
        %li.nav-li
          %a.nav-link(href="./glimmer/news" title="Blog") Blog
        %li.nav-li
          %a.nav-link(href="./glimmer/news" title="Blog") Blog
  / header end
.bg
  / body
  .feature.sixteen.columns.clearfix
    .slide.section
      .slidenav
        %a.prev(href="#") <
        %a.next(href="#") >
      .slideshow
        .slideitem
          %span.dark.lb
            %ol.span-ol
              %li.span-ol-li
                %a.span-link(href="#") link 1
              %li.span-ol-li
                %a.span-link(href="#") link 2 long long long long
          %span.light.rt
            %ul.span-ul
              %li.span-ul-li
                %a.span-link(href="#") link 3
              %li.span-ul-li
                %a.span-link(href="#") link 4 long long long long
          %img(src="/assets/glimmer/assets/images/slideshow.jpg")
  / body end
.ft
  / footer
  .bottombar.sixteen.columns
/ Glimmer for taobao end