Layout: work
Template: self
Title: Glimmer @ Taobao
Class: glimmer
/ Date: Jan 2012

/ Glimmer for taobao start
.hd
  = partial "_zine/glimmer/header"
.bg
  / body
  .browsing.sixteen.columns
    Browsing:

    / = partial "top"

  .sub.section
    .one-third.column
      .panel
        %span one
    .one-third.column
      .panel
        %span two
    .one-third.column
      .panel
        %span three
    .one-third.column
      .panel
        %span one
    .one-third.column
      .panel
        %span two
    .one-third.column
      .panel
        %span three
  / body end
.ft
  / footer
  .bottombar.sixteen.columns
/ Glimmer for taobao end