Layout: work
Template: self
Title: Glimmer @ Taobao
Class: glimmer
/ Date: Jan 2012

/ Glimmer for taobao start
.hd
  = partial "_zine/glimmer/header"
.bg
  / body

  .browsing.sixteen.columns.clearfix

    = partial "_zine/glimmer/dropmenu"

  /
    Marketing
    ============================================================================
  .marketing
    %ul.thumbnails
      %li.span4
        .thumbnail.f
          %img(src="http://placehold.it/300x180")
          %h4 label
          %p caption
      %li.span4
        .thumbnail.f
          %img(src="http://placehold.it/300x180")
          %h4 label
          %p caption
      %li.span4
        .thumbnail.f
          %img(src="http://placehold.it/300x180")
          %h4 label
          %p caption
      %li.span4
        .thumbnail.f
          %img(src="http://placehold.it/300x180")
          %h4 label
          %p caption

  / /marketing
.ft
  = partial "_zine/glimmer/footer"
/ Glimmer for taobao end