Layout: work
Template: self
Title: Glimmer @ Taobao
Class: glimmer
/ Date: Jan 2012

/
  Glimmer for taobao start
  ============================================================================
.hd
  = partial "_zine/glimmer/header"
.bg
  /
    Browsing
    ============================================================================
  .browsing

    = partial "_zine/glimmer/dropmenu"

  /
    Marketing
    ============================================================================
  .marketing
    %ul.thumbnails
      - (1...10).each do
        %li.span3
          .thumbnail.f
            %img(src="http://placehold.it/204x122")
            %h4 label
            %p caption

  / /marketing
.ft
  = partial "_zine/glimmer/footer"
/
  Glimmer for taobao end
  ============================================================================