@import "base";
@import "layout";

$white: #ffffff;
$grey: #f4f5f0;
$black: #292929;
$blue: #12aee8;
$orange: #f27b04;

$assets: "/assets/glimmer/assets/images";
$bimg-dark: "#{$assets}/background1.jpg";
$bimg-light: "#{$assets}/texture.png";

body {
  background: url(#{$assets}/bg-repeat.png) repeat 0 0 #dfd5c9;
}

// --- Layout ---

.topbar {
  @include bar(0 0 2px 2px);
}

.header {
  padding: 25px 0 25px 0;
  margin: 10px 0 0 0;

  .nav {
    @include center;
    margin: 20px auto 0;
    display: block;
    min-height: 35px;
    padding: 10px 0 0;

    .nav-ul {
      @include center;
      display: block;
      border: none;
      padding: 0;
      margin: 0;

      .nav-li {
        display: inline-block;
        padding: 0 25px 0 21px;
        margin: 0;
//        position: relative;
        border: {
          color: lighten($black, 50%);
          top: 0;
          bottom: 0;
          left: 0;
          right: 1px solid lighten($black, 50%);
        }
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
          border-right: 0;
        }

        .nav-link {
          @include nav-link-font($black);

          &:hover {
            padding-bottom: 2px;
            border-bottom: 3px solid $blue;
          }
        }

        .active {
          padding-bottom: 2px;
          border-bottom: 3px solid $orange;
        }

        .browse {
          @include nav-link-font($orange);
          padding: 4px 26px 2px 25px;
          border: 3px solid $orange;

          &:hover {
            color: $white;
            background-color: $orange;
            border: 3px solid $orange;
          }
        }

        .logo {
          padding: 50px 50px 32px 50px;
          margin: 0;
          background: url(#{$assets}/logo.png) 0 0 no-repeat;

          &:hover {
            padding: 50px;
            border: 0;
            background: url(#{$assets}/logo.png) 0 -102px no-repeat;
          }
        }
      }
    }
  }

}

.feature {
  .section {
    clear: both;
    margin: 12px 0;
    overflow: hidden;
  }

  .slide {
    height: 414px;
    position: relative;
//    background-color: $blue;

    .slidenav {
      position: absolute;
      top: 182px;
      left: 0px;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      z-index: 1;
      color: $white;

      .prev {
        float: left;
        @include slide-arrow($black, $white, 40px 0px 0px 40px);
        @include box-shadow(rgba($black,0.2) 1px 0px 1px 0 inset);

        &:hover {
          @include box-shadow(rgba($black,0.4) 1px 0px 1px 0 inset);
        }
      }

      .next {
        float: right;
        @include slide-arrow($black, $white, 0px 40px 40px 0px);
        @include box-shadow(rgba($black,0.2) -1px 0px 1px 0 inset);

        &:hover {
          @include box-shadow(rgba($black,0.4) -1px 0px 1px 0 inset);
        }
      }
    }

    .slideshow {
      position: relative;
      top: 0;
      margin: 0 33px auto;
      padding: 0;
      border: 7px solid $white;
      display: block;
      overflow: hidden;
      height: 400px;
      z-index: 500;

      .slideitem {
        .dark {
          @include slide-span-style($grey, $black, $bimg-dark);
        }
        .light {
          @include slide-span-style($black, $white, $bimg-light);
        }
        .lb {
          position: absolute;
          left: 20px;
          bottom: 20px;
        }
        .lt {
          position: absolute;
          left: 20px;
          top: 20px;
        }
        .rb {
          position: absolute;
          right: 20px;
          bottom: 20px;
        }
        .rt {
          position: absolute;
          right: 20px;
          top: 20px;
        }
      }


    }
  }
}

.bottombar {
  @include bar;
}