$main-bg: #68492e;
//$main-bg: #fff;
$viewbox-bg: #543b26;
$assets-path: /assets/i/work/2012/glimmer;

body {
//  margin: 0;
//  padding: 0;
//  background: $main-bg url("#{$assets-path}/bg_banner.png") top center repeat-x;
//  font-size: 100%;
}