/ footer start
#footer(role="contentinfo")
  .row
    .column.info
      %p Glimmer
    .column.generator
      %p
        Powered by Nesta, a
        = succeed "." do
          %a(href="http://nestacms.com") Ruby CMS
/ footer end