.container
  %h2 Browsing:
  %ul.nav
    %li.span4.offset4
      %a(href="#") All Items
      .drop-ul.span12
        %ul.thumbnails
          - (1...10).each do
            %li.span2
              .thumbnail.f
                %img(src="http://placehold.it/204x122")
                %h4 label
                %p caption