/ header
.topbar.sixteen.columns
.header.sixteen.columns.clearfix
  .nav
    %ul.nav-ul
      %li.li
        %a.link.active(href="#{@page.abspath}/../home" title="Home") Home
      %li.li
        %a.logo(href="./glimmer/list" title="Shop")
      %li.li
        %a.link(href="#{@page.abspath}/../shop" title="Blog") Shop
      %li.li
        %a.link(href="./glimmer/news" title="Blog") Blog
      %li.li
        %a.link(href="./glimmer/news" title="Blog") Blog
/ header end